@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #000000; /* Black */
  --second-bg-color: #00ff00; /* Neon Green */
  --text-color: #00ff00; /* Neon Green */
  --main-color: #ff0000; /* Red */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

header {
    background-color: var(--second-bg-color);
    color: var(--text-color);
    text-align: center;
    padding: 1em 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.3s;
}

.header.sticky {
    background: var(--bg-color);
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
}

.navbar a:hover,
.navbar .active {
    color: var(--main-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
}

.home-content h1 span {
    color: var(--second-bg-color);
}

.home-content .text-animate h3 {
    font-size: 3rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 0.7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;
}

.home.show-animate .home-content .text-animate h3 {
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

@keyframes homeBgText {
    0%,
    10%,
    100% {
        background-position: -33rem 0;
    }
    65%,
    85% {
        background-position: 0 0;
    }
}

.home-sci a {
    color: var(--main-color);
}

.about {
    background: var(--secong-bg-color);
    padding-bottom: 5rem;
    min-height: 100vh;
}

.heading {
    color: var(--main-color);
}

.about-img img {
    border: 0.2rem solid var(--main-color);
}

.about-content h3 {
    color: var(--main-color);
}

.skills {
    background: var(--secong-bg-color);
    padding-bottom: 7rem;
}

.title {
    color: var(--main-color);
}

.skills-list li::before {
    color: var(--main-color);
}

.contact {
    min-height: 80vh;
    padding-bottom: 7rem;
}

.info p a {
    color: var(--main-color);
}

.footer {
    background: var(--secong-bg-color);
}

.footer-iconTop a {
    background: var(--main-color);
    border: 0.2rem solid var(--main-color);
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    color: var(--bg-color);
}

.footer-iconTop a:hover i {
    color: var(--main-color);
}

.animate {
    background: var(--bg-color);
}

.about.show-animate .animate.scroll,
.education.show-animate .animate.scroll,
.education.show-animate .education-box .animate.scroll {
    transition-delay: calc(0.3s * var(--i));
    width: 0;
}
